.jumbotron {
	background-color: #66aa78;
}

.container-fluid {
	background-image: url("../images/old_map/old_map.png");
}

button {
	margin-top: 15px;
}	

h3 {
	font-weight: bold;
}

p {
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
}

	

