html,body { 
	height:100%; 
}

.jumbotron {
	background-color: #66aa78;
}

.container-fluid {
	background-image: url("../images/old_map/old_map.png");
	height: 100%;
	margin-bottom: 40px;
}

button {
	margin-top: 15px;
}	

h3 {
	font-weight: bold;
}

p {
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
}

.navbar {
	background-color: #66aa78;
	padding: 15px 0 10px 0;
	color: white;
}


	

